<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="se.eelde.toggles">

    <uses-permission android:name="se.eelde.toggles.provider_permission" />

    <queries>
        <package android:name="se.eelde.toggles" />

        <provider
            android:authorities="se.eelde.toggles.configprovider"
            tools:ignore="ExportedContentProvider" />
    </queries>

</manifest>