name: Libraries release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: '0'

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: ./.github/actions/setup_android_and_java

      - name: "Calculate build number"
        id: version_information
        uses: ./.github/actions/version_information
        with:
          release: true

      - name: "Setup Gradle Signing"
        if: github.repository == 'erikeelde/toggles'
        uses: ./.github/actions/setup_environment
        with:
          signing-key-id: ${{ secrets.SIGNING_KEYID }}
          signing-password: ${{ secrets.SIGNING_PASSWORD }}
          signing-key-base64: ${{ secrets.SIGNING_GPG_KEY_BASE64_ENCODED }}
          maven-username: ${{ secrets.MAVEN_CENTRAL_REPOSITORY_USERNAME }}
          maven-password: ${{ secrets.MAVEN_CENTRAL_REPOSITORY_PASSWORD }}

      - name: Publish release libraries
        if: github.repository == 'erikeelde/toggles'
        run: ./gradlew publishAndReleaseToMavenCentral --no-configuration-cache
