name: Post merge workflow

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: '0'

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: "Calculate build number"
        id: version_information
        uses: ./.github/actions/version_information

      - uses: ./.github/actions/setup_android_and_java

      - name: Run checks
        run: ./gradlew check

      - name: Build apks
        run: ./gradlew :toggles-app:packageDebug :toggles-sample:packageDebug

      - name: Upload apks
        uses: actions/upload-artifact@v5
        with:
          name: Apks
          path: '**/build/outputs/apk/*'
          retention-days: 14

      - name: "Setup Gradle Signing"
        if: github.repository == 'erikeelde/toggles'
        uses: ./.github/actions/setup_environment
        with:
          signing-key-id: ${{ secrets.SIGNING_KEYID }}
          signing-password: ${{ secrets.SIGNING_PASSWORD }}
          signing-key-base64: ${{ secrets.SIGNING_GPG_KEY_BASE64_ENCODED }}
          maven-username: ${{ secrets.MAVEN_CENTRAL_REPOSITORY_USERNAME }}
          maven-password: ${{ secrets.MAVEN_CENTRAL_REPOSITORY_PASSWORD }}

      - name: Publish snapshot libraries
        if: github.repository == 'erikeelde/toggles'
        run: ./gradlew publishAllPublicationsToMavenCentralRepository --no-configuration-cache
